name: main

on:
  push:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - name: Install
        run: nix develop --command pnpm install
      - name: Format
        run: nix develop --command pnpm format
      - name: Type Check
        run: nix develop --command pnpm type-check
      - name: Lint
        run: nix develop --command pnpm lint

  release:
    runs-on: ubuntu-latest
    needs: quality
    if: success() && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - name: Install
        run: nix develop --command pnpm install
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: nix develop --command pnpm release
